{% extends "wiki/base.html" %}
{% load wiki_tags i18n %}

{% block pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

<style type="text/css">
@font-face {
  font-family: 'DroidKufi';
  src: local('☺'), url("/static/themes_for_themex.io-marvel-blue-theme-ginkgo/fonts/DroidKufi-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-kufi{
  font-family: 'DroidKufi';
}
*{
  font-family: 'DroidKufi' !important;
  line-height: 1.5em !important;
}
html ,body{
  text-align: justify;
  font-family: 'DroidKufi' !important;
  line-height: 1.5em !important;
}
h1,h2,h3,h4,h5,h6,span,a,p{
  font-family: 'DroidKufi' !important;
  line-height: 1.5em !important;
}

body, h1, h2, h3, h4, h5, h6, p, label{
  text-align: inherit !important;
}
.section-title h1{
    font-family: 'DroidKufi' !important;
}
.fa{
  font: normal normal normal 14px/1 FontAwesome !important;
}



</style>

  <div class="article-wrapper">

    <article class="main-article" id="main-article">
        {% if selected_tab != "edit" %}
          <h3 class="entry-title">{{ article.current_revision.title }}</h3>

        {% endif %}

        {% block wiki_contents_tab %}
        {% wiki_render article %}
        {% endblock %}
    </article>

    <div class="article-functions">
      <ul class="nav nav-tabs">
        {% include "wiki/includes/article_menu.html" %}
      </ul>
      <div class="timestamp">
        <span class="label">{% trans "Last modified:" %}</span><br />
        <span class="date">{{ article.current_revision.modified }}</span>
      </div>

      {% if urlpath %}
      <div class="see-children">
        <a href="{% url 'wiki:dir' path=urlpath.path %}">{% trans "See all children" %}</a>
      </div>
      {% endif %}
    </div>
  </div>



{% endblock %}

{% block footer_prepend %}
  <p><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
