<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>
<section id="course_parallax" class="section-white page-title-wrapper" data-stellar-background-ratio="1" data-stellar-offset-parent="true" style="background-position: 0% 0%;">
      <div class="container">
        <div class="relative">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-center">
              <h4>Contact us</h4>
              <hr>
              <p>Check Out Our Contacts</p>
              <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">contact</li>
              </ol>

              </div><!-- end title -->
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!-- end relative -->
      </div><!-- end container -->
    </section>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact Us")}</h1>
              
                    <div class="Contact-n-us">
                      <h3><span class="fa fa-phone"></span>${_("Tel: +2 02 37742347  Ext : 2000")} </h3>
                      <h3><span class="fa fa-fax"></span>${_("Fax: +2 02 335706471")} </h3>
                      <h3><span class="fa Example of envelope fa-envelope"></span>${_("Email:")} info@egymoocs.nelc.scu.eg</h3>
                      <h3><span class="fa Example of location-arrow fa-location-arrow"></span>${_("Address: The Supreme Council of Universities, Cairo - University Campus - Third Floor - 13613 Giza - Egypt")}</h3>
                    </div>
    </section>
</main>
