<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<style type="text/css">
   /* .image-mobile{
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    }*/
</style>
    <section id="services-app">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-xs-6 col-xs-offset-3 mobile-img-pad">

                    <div class="image-mobile">
                    	<img class="img1 img-responsive" src="/static/themes_for_themex.io-marvel-blue-theme-ginkgo/images/mobileApp.png" >

                    </div>
                  

                </div>
            </div>
                
                
                
            </div>
        </div>
    </section>