
@font-face {
  src: local('☺'), url('/static/themes_for_themex.io-marvel-blue-theme-ginkgo/fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-family: 'OpenSans';
    src: url('/static/themes_for_themex.io-marvel-blue-theme-ginkgo/fonts/OpenSans.woff') format('woff'), /* Modern Browsers */
    url('/static/themes_for_themex.io-marvel-blue-theme-ginkgo/fonts/OpenSans.ttf') format('truetype'), /* Safari, Android, iOS */
 
}

.font-family{
  font:'OpenSans' !important;
}
body, h1, h2, h3, h4, h5, h6, p, label{
  text-align: inherit !important;
}
body{
    font-family: 'OpenSans';
    direction: ltr !important;
    text-align: justify;
    line-height: 1.5em !important;
}





/*.theme-nav-wrapper_logo-holder img {
   
    width: 299px !important;
    padding-top: 9px !important;
    height: 100px !important;
}*/
  .theme-header-info{
      padding: 0 !important;
    }
    .theme-header-info_text{
          font-size: 13px;
    }
.header-2{
  background:#fff !important;
}
.theme-header-info{
    padding: 14px 15px 12px;

}
.NavBar{
  text-align: left;
    width: 100%;
    padding-top: 37px !important;
    padding-left: 35px !important;
}
.theme-main-nav_link{
  color: #000 !important;
}
.laguageEdit{
  background: transparent !important;
    border: transparent !important;
    color: #fff !important;
}
.laguageEdit option{
  color: #000 !important
}

    .container-1{
        width: 100% !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto;padding: 20px !important;
    }
    .cardCourse{
    overflow: hidden !important; 
    padding: 0 !important;
    border: none !important;
    border-radius: .28571429rem !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    overflow: hidden !important;
    }
    .theme-courses_course{
            /*width: 25% !important;*/
            margin-bottom: 10px;
    }
    @media(max-width: 700px){
      .theme-courses_course{
        width: 100% !important
      }
    }
    .theme-courses_img-holder{
      width: 100% !important;
    }
   /* .theme-courses_course{
      display: inline-block !important;
    }*/
    .theme-courses_img
    {

    position: relative;
    left: 0;
    top: 0 !important;
    transform: translateY(-0%) !important;
    }
    .theme-courses_content{
      padding: 8px !important;
      width: 100% !important;
          }
    .theme-courses_img-holder{

    height: 280px;
    }
    .theme-header-info{
      padding: 0 !important;
    }
    .theme-header-info_text{
          font-size: 13px;
    }
    .theme-courses_title{
          padding-bottom: 0;
    margin-bottom: 7px !important;
    }
    .theme-courses_code{
          padding-bottom: 3px;
    }
  .flag {
    width: 196px;
    height: 40px;
    margin: 0 auto;
    padding-top: 12px;
    background: #3371bd;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: -25px;
}
.flag:before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 23px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.flag:after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid white;
  border-left: 25px solid transparent;
  border-bottom: 25px solid white;
}
.logo-header-1{
      width: 278px !important;
    height: 83px !important;
    padding-top: 0px !important;
}
.courses-listing li {
  display: inline-block;
}
.Dis_footer{
  list-style: none;
  color: #7f848c !important;
  padding-top: 44px;

}
.Dis_footer li {
    padding-bottom: 11px !important;

}
.Dis_footer li a{
  color: #7f848c !important;
}
.listnone { list-style: none; margin: 0px 0px 0px 0px; padding: 0; }
.listnone  li {
    line-height: 1.6;
}
.f-color {
    color: #3a5a98;
    padding-right: 9px !important;
     padding-left: 9px !important;
}
.t-color {
    color: #00ffff;
    padding-right: 9px !important;
     padding-left: 2px !important;
}
.y-color {
    color: #ff0000;
    padding-right: 9px !important;
     padding-left: 9px !important;
}
.copyright{
  height: 92px !important;
    width: 304px !important;
    color: #eee !important;
    line-height: 1.5em !important;

}
/*.logo-2-2 {
      width: 233px !important;
    height: 45px !important;
    padding-right: 93px !important;
    margin-top: 17px !important;

}*/
@media (max-width: 500px){
  .logo-2-2 {
    display: none;
  }
}
.theme-courses_img-link{
  width: 100% !important;
    height: 150px !important;
}
.theme-courses_img{
    height: 150px !important;
}
.theme-courses_title{

    font: 16px/1 'Work Sans', sans-serif !important;
    text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: 18em; 
}


.image-div{
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  text-align: center !important;

}

.image-div img{
  height: 142px;
}
.product{
  display: inherit !important;
  width: 100% !important;
}
.Categories-Info{
  width: 25% !important;

}
@media(max-width: 750px){
  .Categories-Info{
  width: 100% !important;
  text-align: center !important;
}
.product{
  display: inline-block !important;
  width: 100% !important;
}
}
.post-block{
  border: 1px solid #eee !important;
    background: #fff !important;
}
.pinside40{
  padding: 10px !important
}
.title_Category {
  font-size: 24px !important;
    padding-top: 12px !important;
}
a:hover{
  text-decoration: none;
}
/*.Logo-2 img{
height: 60px !important;
width: 100% !important
    
}*/
.Logo-2 img{
  width: 230px !important;
    height: 60px !important;
    margin-top: 22px !important;
}
.theme-nav-wrapper_logo-holder {
    overflow: visible !important;
}
.theme-main-nav .theme-nav-wrapper_logo-holder_small{
  display: none !important;
}
.theme-main-nav_item a:hover{
  background: transparent !important;
      color: #045099 !important;
}
/**/
  #course_parallax {
      background-image: url("/static/themes_for_themex.io-marvel-blue-theme-ginkgo/images/course_parallax.jpg");
  }
  .relative {
    position: relative;
    z-index: 100;
}


.section-title {
    display: block;
    position: relative;
    overflow: hidden;
}
.text-center {
    text-align: center;
}
.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    color: #afb0b4;
    padding: 15px 0 0;
    font-size: 13px;
}
.section-title hr {
    border-width: 2px;
    width: 30px;
    border-color: #cbcbcd;
    margin: 20px auto;
}
.section-title h4{
  color: #fff;
}
.section-title p {
    font-size: 35px !important;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 45px;
}

.breadcrumb > li {
    display: inline-block;
}
.Course-about{
      width: 66% !important;
    height: 150px !important;
    margin-top: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: #fff !important ;
}
/*slide Show background*/
.slideshow {
  list-style: none;
  z-index: 1;
}
.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s;
}
.slideshow li h3 {
  position: absolute;
  text-align: center;
  z-index: 2;
  bottom: 150px;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 4.0625em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-animation: titleAnimation 24s linear 1 0s;
  -moz-animation: titleAnimation 24s linear 1 0s;
  animation: titleAnimation 24s linear 1 0s;
}
@media only screen and (min-width: 768px) {
  .slideshow li h3 {
    bottom: 30px;
    font-size: 8.125em;
  }
}
@media only screen and (min-width: 1024px) {
  .slideshow li h3 {
    font-size: 10.9375em;
  }
}

.slideshow li:nth-child(1) span {
  background-image: url("/static/themes_for_themex.io-marvel-blue-theme-ginkgo/images/slider2.jpg");
}

.slideshow li:nth-child(2) span {
  background-image: url("/static/themes_for_themex.io-marvel-blue-theme-ginkgo/images/slider3.jpg");
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  background-image: url("/static/themes_for_themex.io-marvel-blue-theme-ginkgo/images/slider4.png");
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}



@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .slideshow li span {
  opacity: 1;
}
.center-content {
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.intro-content {
    display: table-cell;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
}
.promo-box_holder{
  position: relative !important;
    text-align: center !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    background: #00000069 !important;
    padding: 38px !important;
    padding-top: 66px !important;
    padding-bottom: 66px !important;
}
.meta-style{
      position: absolute !important;
    bottom: 19px !important;
}

.header-global .user .user-dropdown {
    font-size: 0.875em !important;
    padding: 0 10px !important;
    color: #ffffff !important;
    border: none !important;
    background: #1f1e20 !important;
    box-shadow: none !important;
    text-shadow: none !important; 
}
.dashboard .my-courses .theme-courses_course:nth-child(even), .dashboard .my-courses .listing-courses .course-item:nth-of-type(even) .theme-courses_course{
      flex-direction: inherit !important;
}
.theme-courses_title a{
  float: left !important;
}
.course-actions{
  float: right !important;
}

.theme-main-nav_list {
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
    display: flex;
    width: 454px !important;
}

/*amira addedfrom old style */
.my-mobile2{margin-left: 260px;
}
.my-mobile{margin-left: 17px;}

.mobile-img-pad{
  padding: 28px 0;
}
.buttons-mobile a {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #0075b4;
    border-radius: 50px;
    color: #0075b4;
    display: inline-block;
    padding: 10px 30px;
    /* margin: 0 60px 15px; */
    transition: all 0.3s ease 0s;
    /* float: left; */
    animation-delay: 0.6s;
    animation-name: bounceIn;
    /* position: absolute; */
    padding-right: 20;
    margin-right: 16%;
    margin-left: 20%;
}
.image-mobile{
  position: relative;
    width: 100%;
    height: auto;
    padding-right: 20%;
    padding-left: 20%;
}
/*end amira adding*/

.login-register .form-wrapper .action-primary, .financial-assistance-wrapper .financial-assistance-form .form-wrapper .action-primary{
  text-transform: none !important;
}
.CourseDetail{
      font-size: 23px !important;
}
.course-staff h3+p:after{
      background: #ffffff !important;
}
.find-courses .courses .course a {
    /* position: relative; */
    display: inherit !important;
}
.promo-box_img {
    width: 100%;
     height: auto; 
    position: absolute;
    top: 76% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100% !important;}
    .Head{
      font:43px/1.3 'Work Sans', sans-serif;
    }

.wiki-wrapper section.wiki .breadcrumbs-header {
  
    padding: 22px 0 54px !important;
    
}

.promo-box_heading{
text-transform: none !important;
}
.section-title p{
  text-transform: none !important;
}

.about {
    font-family: DroidKufi !important;
}
/*.course-material{
      text-align: initial !important;
}*/
.ugc *{
  font-family: DroidKufi !important;
}
.course-info header.course-profile{
      padding-top: 79px !important;
      border-bottom: 1px solid transparent !important;
          height: 311px !important;
          box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0) !important;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group{
  border-bottom: 1px solid transparent !important;
}
.course-info header.course-profile .intro-inner-wrapper{
  box-shadow: none !important;
}
/*.details ,.course-sidebar{
  background: rgba(255,255,255,0.93) !important;
    border: 1px solid #646464 !important;
    padding: 13px !important;
}*/
.course-info{
  background: #f5f5f5;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register{
      border: 1px solid #ffffff !important;
    border-bottom: 1px solid #2768b3 !important;
    border-radius: 5px !important;
     box-shadow: none !important; 
    color: #fff !important;
    display: inline-block !important;
    font-size: inherit !important;
    font-weight: bold !important;
    background-color: #2768b3 !important;
     background-image: none !important; 
    padding: 7px 18px !important;
    text-align: center !important;
    text-decoration: none !important;
     text-shadow: none !important; 
    box-sizing: border-box !important;
    border-radius: 3px !important;
    display: block !important;
    font: normal 1.2rem/1.6rem "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    letter-spacing: 1px !important;
    padding: 10px 0 !important;
    text-transform: uppercase !important;
    text-align: center !important;
    width: 31.82117% !important;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled){
      background-color: #054c75 !important;
      background-image: none !important;
}
.heading-group{
  text-align: right !important;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong{

        border: 1px solid #ffffff !important;
    border-bottom: 1px solid #2768b3 !important;
    border-radius: 5px !important;
     box-shadow: none !important; 
    color: #fff !important;
    display: inline-block !important;
    font-size: inherit !important;
    font-weight: bold !important;
    background-color: #2768b3 !important;
     background-image: none !important; 
    padding: 7px 18px !important;
    text-align: center !important;
    text-decoration: none !important;
     text-shadow: none !important; 
    box-sizing: border-box !important;
    border-radius: 3px !important;
    display: block !important;
    font: normal 1.2rem/1.6rem "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    letter-spacing: 1px !important;
    padding: 10px 0 !important;
    text-transform: uppercase !important;
    text-align: center !important;
    width: 31.82117% !important;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover:not(:disabled){
  background-color: #054c75 !important;
      background-image: none !important;
}
.content-wrapper .container *, .content-wrapper section.outside-app *, .content-wrapper .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy *, .view-profile .profile-self .wrapper-profile-field-account-privacy .content-wrapper .u-field-account_privacy *, .content-wrapper .view-profile .wrapper-profile-sections *, .view-profile .content-wrapper .wrapper-profile-sections *, .content-wrapper .view-profile .badge-set-display *, .view-profile .content-wrapper .badge-set-display *{
      font-family: 'DroidKufi' !important;
}

.progress {
    display: initial !important;
    
    text-align: left !important;
   
}
